.make-text-size(@class) {
    .text-@{class}-small {
        font-size: @font-size-small;
    }

    .text-@{class}-normalsize {
        font-size: @font-size-base;
    }

    .text-@{class}-large {
        font-size: @font-size-large;
    }

    .text-@{class}-h3size {
        font-size: @font-size-h3;
    }

    .text-@{class}-h2size {
        font-size: @font-size-h2;
    }

    .text-@{class}-h1size {
        font-size: @font-size-h1;
    }
}

.make-text-weight(@class) {
    .text-@{class}-light {
        font-weight: @font-weight-light;
    }

    .text-@{class}-normalweight {
        font-weight: @font-weight-base;
    }

    .text-@{class}-bold {
        font-weight: @font-weight-bold;
    }
}
