// Constrain utilities
// -------------------------
.w-xs   { width: 12.5% !important; }


// Spacer utilities
// -------------------------

// Margin

.m-a-xs { margin:        (@spacer / 4) !important; }
.m-t-xs { margin-top:    (@spacer-y / 4) !important; }
.m-r-xs { margin-right:  (@spacer-y / 4) !important; }
.m-b-xs { margin-bottom: (@spacer-y / 4) !important; }
.m-l-xs { margin-left:   (@spacer-y / 4) !important; }
.m-x-xs { margin-right:  (@spacer-x / 4) !important; margin-left:   (@spacer-x / 4) !important; }
.m-y-xs { margin-top:    (@spacer-y / 4) !important; margin-bottom: (@spacer-y / 4) !important; }

.m-a-sm { margin:        (@spacer / 2) !important; }
.m-t-sm { margin-top:    (@spacer-y / 2) !important; }
.m-r-sm { margin-right:  (@spacer-y / 2) !important; }
.m-b-sm { margin-bottom: (@spacer-y / 2) !important; }
.m-l-sm { margin-left:   (@spacer-y / 2) !important; }
.m-x-sm { margin-right:  (@spacer-x / 2) !important; margin-left:   (@spacer-x / 2) !important; }
.m-y-sm { margin-top:    (@spacer-y / 2) !important; margin-bottom: (@spacer-y / 2) !important; }

// Padding

.p-a-xs { padding:        (@spacer / 4) !important; }
.p-t-xs { padding-top:    (@spacer-y / 4) !important; }
.p-r-xs { padding-right:  (@spacer-y / 4) !important; }
.p-b-xs { padding-bottom: (@spacer-y / 4) !important; }
.p-l-xs { padding-left:   (@spacer-y / 4) !important; }
.p-x-xs { padding-right:  (@spacer-x / 4) !important; padding-left:   (@spacer-x / 4) !important; }
.p-y-xs { padding-top:    (@spacer-y / 4) !important; padding-bottom: (@spacer-y / 4) !important; }

.p-a-sm { padding:        (@spacer / 2) !important; }
.p-t-sm { padding-top:    (@spacer-y / 2) !important; }
.p-r-sm { padding-right:  (@spacer-y / 2) !important; }
.p-b-sm { padding-bottom: (@spacer-y / 2) !important; }
.p-l-sm { padding-left:   (@spacer-y / 2) !important; }
.p-x-sm { padding-right:  (@spacer-x / 2) !important; padding-left:   (@spacer-x / 2) !important; }
.p-y-sm { padding-top:    (@spacer-y / 2) !important; padding-bottom: (@spacer-y / 2) !important; }

.make-spacer(xs);

@media (min-width: @screen-sm-min) {
    .make-spacer(sm);
}

@media (min-width: @screen-md-min) {
    .make-spacer(md);
}

@media (min-width: @screen-lg-min) {
    .make-spacer(lg);
}
