@import (reference) "./bootstrap/variables.less";

// Spacing
//
// Custom variables. Utilities for quickly spacing items consistently.

@spacer:   20px;
@spacer-x: @spacer;
@spacer-y: @spacer;


// Font weight

@font-weight-light: 300;
@font-weight-base: 400;
@font-weight-bold: 700;
